.cart-icon {
    color: red; 
  }
  .badge-custom {
    background-color: green; 
    color: white;
    margin-left: 10px;
  }
  .cart-widget-button {
    padding: 10px 20px; 
    background-color: rgb(255, 255, 255); 
    border: none; 
    color: #fff; 
    cursor: pointer; 
  }
  
  .cart-widget-button:hover {
    background-color: #686868; 
  }
  
