.navbar {
    background-color: #f00800;
    margin-left: 400px;
    margin-right: 400px;
    
  }
  
  .navbar-brand {
    color: rgb(102, 100, 100);
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .navbar-toggler-icon {
    color: white;
  }
  
  .nav-item {
    color: rgb(0, 47, 255);
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100%;
    margin-left: 80px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
 
  .cart-widget {
    color: rgb(59, 57, 57);
    font-size: 24px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-left: 80px;
    margin-top: 10PX;

  }
  

  .navbar-toggler {
    border: none;
  }