.product-detail-container {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin-left: 40%;
    margin-top: 5%;
  }
  
  .product-title {
    color: #333;
  }

  .product-name {
    font-size: 24px;
    color: #333;
    margin: 20px 0;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
  }
 
  .product-description {
    color: #555;
  }
  
  .go-back-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .go-back-button:hover {
    background-color: #0056b3;
  }

  .buy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 15px;
  }

  .product-price {
    font-size: 24px;
    color: #133b64;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    border: 2px solid #2c3e50;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: #72f0ab;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


  .buy-button:hover {
    background-color: #06b300;
  }
  .success-message {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    text-align: center; 
    font-size: 26px; 
    z-index: 1000; 
    animation: fadeOut 5s ease; 
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }